<ion-view view-title="Room Select">
  <ion-content>
    <!--<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->
      <ion-list>
          <ion-item ng-repeat="room in roomsData" ui-sref="tab.occupied-detail({roomNum:room.room_number,room:room})">
              <div class="item-icon-left">
                  <i class="icon ion-ios-alarm-outline"></i>
                  <p>{{room.room_number}} {{room.room_occupancyStatus}} {{room.room_cleaningStatus}}</p>
              </div>
              <div class="item-icon-right">
                  <i class="icon ion-ios-arrow-right"></i>
              </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
